@import "./typography.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root,
html[data-theme="light"] {
  --background: #fdfdfd;
  --foreground: #282728;
  --accent: #006cac;
  --muted: #e6e6e6;
  --border: #ece9e9;
}

html[data-theme="dark"] {
  --background: #222831;
  --foreground: #eeeeee;
  --accent: #00adb5;
  --muted: #393e46;
  --border: #393e46;
}

@layer base {
  :root {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-accent: var(--accent);
    --color-muted: var(--muted);
    --color-border: var(--border);
  }
}

@layer base {
  * {
    @apply border-border;
    outline-color: color-mix(in srgb, var(--color-accent) 75%, transparent);
    scrollbar-width: auto;
    scrollbar-color: var(--color-muted) transparent;
  }
  html {
    @apply overflow-y-scroll scroll-smooth;
  }
  body {
    @apply flex min-h-svh flex-col bg-background font-mono text-foreground;
  }
  body ::selection {
    background-color: color-mix(in srgb, var(--color-accent) 75%, transparent);
    color: var(--color-background);
  }
  a,
  button {
    @apply outline-offset-1;
    outline-color: var(--color-accent);
  }
  a:focus-visible,
  button:focus-visible {
    @apply no-underline outline-2 outline-dashed;
  }
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
  section,
  footer {
    @apply mx-auto max-w-app px-4;
  }
}

.max-w-app {
  @apply max-w-4xl xl:max-w-5xl;
}

.active-nav {
  @apply underline decoration-wavy decoration-2 underline-offset-4;
}

.focus-outline {
  @apply outline-offset-1;
  outline-color: var(--color-accent);
}
.focus-outline:focus-visible {
  @apply no-underline outline-2 outline-dashed;
}

/* Source: https://piccalil.li/blog/a-more-modern-css-reset/ */
/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 1rdem;
}

/* Text stroke utility for adaptive outline */
.text-stroke-white {
  text-shadow: 
    -1px -1px 0 var(--background),
    1px -1px 0 var(--background),
    -1px 1px 0 var(--background),
    1px 1px 0 var(--background);
}
