@plugin '@tailwindcss/typography';

@layer base {
  /* ===== Override default Tailwind Typography styles ===== */
  .app-prose {
    @apply prose;

    h1,
    h2,
    h3,
    h4,
    th {
      @apply mb-3 text-foreground;
    }

    h3 {
      @apply italic;
    }

    p,
    strong,
    ol,
    ul,
    figcaption,
    table,
    code {
      @apply text-foreground;
    }

    a {
      @apply break-words text-foreground decoration-dashed underline-offset-4 hover:text-accent focus-visible:no-underline;
    }

    ul {
      @apply overflow-x-clip;
    }

    li {
      @apply marker:text-accent;
    }

    hr {
      @apply border-border;
    }

    img {
      @apply mx-auto border border-border;
    }

    figcaption {
      @apply opacity-75;
    }

    table {
      th,
      td {
        @apply border border-border p-2;
      }

      th {
        @apply py-1.5;
      }

      code {
        @apply break-all sm:break-normal;
      }
    }

    code {
      @apply rounded p-1 break-words text-foreground before:content-none after:content-none;
      background-color: color-mix(in srgb, var(--color-muted) 75%, transparent);
    }

    .astro-code code {
      @apply flex-[1_0_100%] bg-inherit p-0;
    }

    blockquote {
      @apply break-words opacity-80;
      border-left-color: color-mix(in srgb, var(--color-accent) 80%, transparent);
    }

    details {
      @apply inline-block cursor-pointer text-foreground select-none [&_p]:hidden [&_ul]:!my-0;
    }

    summary {
      @apply focus-visible:no-underline focus-visible:outline-2 focus-visible:outline-offset-1 focus-visible:outline-accent focus-visible:outline-dashed;
    }

    pre {
      @apply focus-visible:border-transparent focus-visible:outline-2 focus-visible:outline-accent focus-visible:outline-dashed;
    }
  }

  /* ===== Code Blocks & Syntax Highlighting ===== */
  .astro-code {
    @apply flex border outline-border;
    background-color: var(--shiki-light-bg);
    color: var(--shiki-light);
  }
  .astro-code span {
    color: var(--shiki-light);
  }

  html[data-theme="dark"] .astro-code {
    background-color: var(--shiki-dark-bg);
    color: var(--shiki-dark);
  }
  html[data-theme="dark"] .astro-code span {
    color: var(--shiki-dark);
  }

  /* Styles for Shiki transformers */
  /* https://shiki.style/packages/transformers */
  .astro-code {
    .line.diff.add {
      @apply relative inline-block w-full before:absolute before:-left-3 before:text-green-500 before:content-['+'];
      background-color: rgba(74, 222, 128, 0.2);
    }
    .line.diff.remove {
      @apply relative inline-block w-full before:absolute before:-left-3 before:text-red-500 before:content-['-'];
      background-color: rgba(248, 113, 113, 0.2);
    }
    .line.highlighted {
      @apply inline-block w-full;
      background-color: rgba(148, 163, 184, 0.2);
    }
    .highlighted-word {
      @apply rounded-sm border border-border px-0.5 py-px;
    }
  }
}
